*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    color: var(--offWhite);
  }
  
  body{
    font-family: 'Helvetica';
    background-color: var(--offWhite);
  }
  
  header {
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: var(--charcoal);
    font-size: 1.2rem;
    font-family: Georgia;
  }
  
  .navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--offWhite);
    height: 3rem;
    position: sticky;
    margin-top: 60px;
  }

  .bold{
    font-weight: bold;
  }
  
  .logo {
    font-size: 3rem;
    padding-left: 20px;
    color: var(--charcoal);
    font-family: Helvetica, sans-serif;
    align-self: flex-end;
  } 

  .navlinks a:active{
    background-color: var(--offWhite);
  }
  .hide {
    display: none;
  }

  
.navlinks {
  list-style-type: none;
  display: flex;
  width: 100px;
  flex-flow: row nowrap;
  justify-content: flex-end;;
  align-self: flex-end;
  margin-right: 5px;
}
.navlinks a{
  display: inline-block;
  justify-content: flex-end;
  margin: 10px;
}

.navlinks a img {
  width: auto;
  height: 26px;
  margin: auto;
  padding: auto;
}


.icon {
  margin: 15px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.certifications{
  
}

.flex {
  display: flex;
  width: 300px;
  justify-content: center;
  flex-flow: row wrap;
  flex-basis: auto;
  align-items: baseline;
}

.skills{
  
}

.sm {
  width: 1.6rem;
  height: 1.6rem;
}

.me {
  width: 2.8rem;
  height: 2.8rem;
}

.lg {
  width: 5rem;
  height: 5rem;
}

.banner{
  max-width: 200px;
  max-height: 50px;
}

.bar{
  width: auto;
  border-top: solid var(--coolRed) 8px;
  margin: 10px 1px;
  border-radius: 1px;
}
  
  :root {
    --coolRed: #E63946;
    --iceBlue: #F1FAEE;
    --coolBlue: #A8DADC;
    --electricBlue: #457B9D;
    --deepBlue: #1D3557;
    --charcoal: #0b0c0d;
    --onWhite: #FFFFFF;
    --offWhite: #f1f2f4;
    --onGrey: #717c7d;
  }