*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    color: var(--offWhite);
  }
  
  body{
    font-family: 'Helvetica';
    background-color: var(--offWhite);
  }
  

  
  a {
    text-decoration: none;
    color: var(--charcoal);
    font-size: 1.2rem;
    font-family: Georgia;
  }
  
  .navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--offWhite);
    height: 70px;
  }

  .bold{
    font-weight: bold;
  }
  
  .logo {
    display: flex;
    font-size: 3rem;
    color: var(--deepBlue);
    padding-left: 20px;
    color: var(--charcoal);
    font-family: Helvetica, sans-serif;
    bottom: auto;
    align-self: flex-end;
  } 

  .navlinks a:hover{
    background-color: var(--onWhite);
  }
  .navlinks a:active{
    background-color: var(--coolBlue);
  }
  .hide {
    display: none;
  }

  
.navlinks {
  display: flex;
  list-style: none;
  align-self: flex-end;
  margin-right: 15px;
}
.navlinks a{
  display: inline-block;
  padding: 0px 15px;  
}

.icon {
  margin: 15px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.certifications{
  width: 50%;
  padding: 10px;
}

.skills{
  width: 40%;
  padding: 10px;
}

.sm {
  width: 1.6rem;
  height: 1.6rem;
}

.me {
  width: 2.8rem;
  height: 2.8rem;
}

.lg {
  width: 5rem;
  height: 5rem;
}

.banner{
  max-width: 200px;
  max-height: 50px;
}

.bar{
  width: auto;
  border-top: solid var(--coolRed) 8px;
  margin: 10px 1px;
  border-radius: 1px;
}
  
  :root {
    --coolRed: #E63946;
    --iceBlue: #F1FAEE;
    --coolBlue: #A8DADC;
    --electricBlue: #457B9D;
    --deepBlue: #1D3557;
    --charcoal: #0b0c0d;
    --onWhite: #FFFFFF;
    --offWhite: #f1f2f4;
    --onGrey: #717c7d;
  }